﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/orleans-logo.svg" alt="MS Orleans" class="img-responsive"/>
            <div class="carousel-caption" role="option">
                <p>
                    A straightforward approach to building distributed, high-scale applications in .NET
                    <a class="btn btn-default" href="https://dotnet.github.io/orleans/index.html">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/akka-logo.png" alt="Akka" class="img-responsive akka-logo"/>
            <div class="carousel-caption" role="option">
                <p>
                    Build powerful concurrent & distributed applications more easily.
                    <a class="btn btn-default" href="https://getakka.net/">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>