﻿@model ApplicationModel
@{
    ViewData["Title"] = "Editor";
}

<div>
    <hr/>
    <input type="hidden" id="applicationId" asp-for="Id"/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <form asp-controller="Application" asp-action="Edit" method="post">
                    <div class="form-group">
                        <label>
                            Question:
                            <select style="width: 280px" asp-for="ControlId" asp-items="Model.Controls"></select>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Value:
                            <input asp-for="Value" type="text" class="form-control">
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="col-xs-9">
                <textarea id="snapshot" asp-for="Snapshot" cols="80" rows="20"></textarea>
                <button id="reload" type="submit" class="btn btn-default">Reload Snapshot</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(() => {
            var applicationId = $("#applicationId").val();
            var $snapshot = $("#snapshot");
            $("#reload").click(() => {
                $.get(`/api/questionnaire-shapshot/${applicationId}`).then(o => {
                    $snapshot.val(JSON.stringify(o));
                })

            });
        });
    </script>
}