﻿@model ApplicationListModel
@{
    ViewData["Title"] = "Application";
}

<div>
    <hr/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <ul>
                    @foreach (var item in Model.Applications)
                    {
                        <li>
                            <a asp-controller="Application" asp-action="Edit" asp-route-id="@item">Application @item</a>
                        </li>
                    }
                </ul>
                <a asp-controller="Application" class="btn btn-primary" asp-action="Edit" asp-route-id="@(Model.Applications.Count == 0 ? 1 : Model.Applications.Max() + 1)">Create New</a>
                <a id="generator" class="btn btn-primary">Generate 20</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(() => {
            $("#generator").click(() => $.post("/api/questionnaire-generator/20"));
        });

    </script>
}